In [423]:
import numpy as np
import pandas as pd
import re

In [424]:
# clean out the non ascii strings.
import string
s = 'northwestpassage.txt'
printable = set(string.printable)
filter(lambda x: x in printable, s)

In [425]:
fh = open('northwestpassage.txt', 'r')
data = fh.readlines()

In [426]:
#store the data ina serie
data_Series = pd.Series(data)

#### Alternative way
import csv
with open('northwestpassage.txt', 'r') as csvfile:
    spamreader = csv.reader(csvfile, delimiter=' ', quotechar='|')
    for row in spamreader:
        print(', '.join(row))

Using regular expression to extract the featured lines

In [427]:
import re
def get_vessel_info(string,pattern,n):
    result = re.search(pattern,string)
    if result:
        return result.group(n)
    return ''

In [428]:
#use the first regular expresion to extract the full information of each visit and the route of each visit. 
visits = data_Series.apply(lambda x:get_vessel_info(x,pattern='([0-9]{1,3}\s{1}.+((West|East)\s+\d+))',n=1))
routes = data_Series.apply(lambda x:get_vessel_info(x,pattern='([0-9]{1,3}\s{1}.+((West|East)\s+\d+))', n=2))
print(routes.head(10))
print(visits.head(10))
print(len(routes))
print(len(visits))

0
1
2     West 4
3
4
5
6    East  6
7
8
9
dtype: object
0
1
2    1 GjÃ¸a (21 m auxiliary sloop) Norway1 Roald E...
3
4
5
6    2 St Roch1 (29Â·7 m auxiliary schooner) Canada...
7
8
9
dtype: object
591
591

In [429]:
#clean up the empty entries by removing NaN
visits2 = [x if len(x)>2 else np.NaN for x in visits]
visits2[:10]

[nan,
 nan,
 '1 GjÃ¸a (21 m auxiliary sloop) Norway1 Roald Engelbregt Gravning Amundsen West 4',
 nan,
 nan,
 nan,
 '2 St Roch1 (29Â·7 m auxiliary schooner) Canada1 Henry AsbjÃ¸rn Larsen1  East  6',
 nan,
 nan,
 nan]

In [430]:
visits_cleaned = list(filter(lambda v: v==v, visits2))
visits_cleaned[:20]

['1 GjÃ¸a (21 m auxiliary sloop) Norway1 Roald Engelbregt Gravning Amundsen West 4',
 '2 St Roch1 (29Â·7 m auxiliary schooner) Canada1 Henry AsbjÃ¸rn Larsen1  East  6',
 '3 St Roch2 (29Â·7 m auxiliary schooner) Canada2 Henry AsbjÃ¸rn Larsen2  West 2',
 '4 HMCS Labrador (icebreaker) Canada3 Owen Connor Struan Robertson  West 2',
 '5 USCGC Bramble (buoy tender) UnitedStates1 Henry Hart Carter East  6',
 '6 USCGC Spar (buoy tender) UnitedStates2 Charles Vinal Cowing  East  6',
 '7 USCGC Storis (icebreaker) UnitedStates3 Harold Lambert Wood  East  6',
 '8 CCGS John A. McDonald (icebreaker) Canada4 Paul Moise Fournier  West 3',
 '9 USCGC Northwind1 (icebreaker) UnitedStates4 Donald J. McCann1  East  5',
 '10 USCGC Northwind2 (icebreaker) UnitedStates5 Donald J. McCann2  West 3',
 '11 USCGC Staten Island (icebreaker) UnitedStates6 Eugene F. Walsh  East  2',
 '12 CSS Baffin (research icebreaker) Canada5 Paul M. Brick  East  2',
 '13 CSS Hudson1 (research icebreaker) Canada6 David W. Butler  East  2',
 '14 Pandora II1 (hydrographic vessel) Canada7 R. Dickinson  East  7',
 '15 Theta (research vessel) Canada8 K. Maro  East  7',
 '16 CSS Skidgate (buoy tender) Canada9 Peter Kallis  East  6',
 '17 CCGS J. E. Bernier1 (icebreaker) Canada10 Paul Pelland  East  3',
 '18 Williwaw (13 m sloop) Netherlands1 Willy de Roos  West 4',
 '19 CCGS Pierre Radisson (icebreaker) Canada11 Patrick Robert Michael Toomey  East  2',
 '20 J. E. Bernier II (10 m ketch) Canada12 RÃ©al Bouvier  West 4']

In [431]:
#do the same for routes column
routes2 = [x if len(x)>2 else np.NaN for x in routes]
len(routes)

591

In [432]:
routes_cleaned = list(filter(lambda v: v==v, routes2)) #learned how to use filter and convert it to a list. and the property of np.NAN
routes_cleaned[:20]

['West 4',
 'East  6',
 'West 2',
 'West 2',
 'East  6',
 'East  6',
 'East  6',
 'West 3',
 'East  5',
 'West 3',
 'East  2',
 'East  2',
 'East  2',
 'East  7',
 'East  7',
 'East  6',
 'East  3',
 'West 4',
 'East  2',
 'West 4']

In [433]:
#check the length of cleaned data
print(len(visits_cleaned))
print(len(routes_cleaned)) # 4 is missing, because in total there are 287 times visit
routes_cleaned[-20:]

283
283

['East  6',
 'West 6',
 'West 4',
 'East  6',
 'West 6',
 'East  3',
 'West 6',
 'East  6',
 'West 6',
 'East  6',
 'East  3',
 'East  6',
 'East  5',
 'West 3',
 'East  6',
 'West 6',
 'East  5',
 'West 6',
 'West 3',
 'West 6']

In [434]:
#prepare for the second time extraction with regular expression
df_temp = pd.Series(visits_cleaned)
df_temp[:10]

0    1 GjÃ¸a (21 m auxiliary sloop) Norway1 Roald E...
1    2 St Roch1 (29Â·7 m auxiliary schooner) Canada...
2    3 St Roch2 (29Â·7 m auxiliary schooner) Canada...
3    4 HMCS Labrador (icebreaker) Canada3 Owen Conn...
4    5 USCGC Bramble (buoy tender) UnitedStates1 He...
5    6 USCGC Spar (buoy tender) UnitedStates2 Charl...
6    7 USCGC Storis (icebreaker) UnitedStates3 Haro...
7    8 CCGS John A. McDonald (icebreaker) Canada4 P...
8    9 USCGC Northwind1 (icebreaker) UnitedStates4 ...
9    10 USCGC Northwind2 (icebreaker) UnitedStates5...
dtype: object

In [435]:
name = df_temp.apply(lambda x:get_vessel_info(x,pattern='(^([0-9]+\s+)(.*)\s\((.*)\))\s([a-zA-Z]+)', n=3))
Type = df_temp.apply(lambda x:get_vessel_info(x,pattern='(^([0-9]+\s+)(.*)\s\((.*)\))\s([a-zA-Z]+)', n=4))
Number = df_temp.apply(lambda x:get_vessel_info(x,pattern='(^([0-9]+\s+)(.*)\s\((.*)\))\s([a-zA-Z]+)', n=2))
country = df_temp.apply(lambda x:get_vessel_info(x,pattern='(^([0-9]+\s+)(.*)\s\((.*)\))\s([a-zA-Z]+)', n=5))

In [436]:
print(name[:10])
print(len(name),len(Type),len(Number),len(country))

0                    GjÃ¸a
1                 St Roch1
2                 St Roch2
3            HMCS Labrador
4            USCGC Bramble
5               USCGC Spar
6             USCGC Storis
7    CCGS John A. McDonald
8         USCGC Northwind1
9         USCGC Northwind2
dtype: object
283 283 283 283

In [437]:
df = pd.DataFrame({'Number':Number,'name':name,'country':country,'routes':routes_cleaned,'Type':Type})
df.head(20)
print(len(df))

283

### Extract year by forward filling

In [438]:
year = data_Series.apply(lambda x: get_vessel_info(x,pattern='^(\d{4}(-\d+)*)',n = 1))
print(year.head(15))
print(len(year))

0
1     1903-06
2
3
4
5     1940-42
6
7
8
9        1944
10
11
12
13       1954
14
dtype: object
591

In [439]:
year = year.apply(lambda x: np.NaN if len(x)<1 else x)

In [440]:
#Filling in the data based on the index of the entries of each visit.
df_year_visits = pd.DataFrame({'Year':year,'Visits':visits2})
df_year_visits.head(20)

                                               Visits     Year
0                                                 NaN      NaN
1                                                 NaN  1903-06
2   1 GjÃ¸a (21 m auxiliary sloop) Norway1 Roald E...      NaN
3                                                 NaN      NaN
4                                                 NaN      NaN
5                                                 NaN  1940-42
6   2 St Roch1 (29Â·7 m auxiliary schooner) Canada...      NaN
7                                                 NaN      NaN
8                                                 NaN      NaN
9                                                 NaN     1944
10  3 St Roch2 (29Â·7 m auxiliary schooner) Canada...      NaN
11                                                NaN      NaN
12                                                NaN      NaN
13                                                NaN     1954
14  4 HMCS Labrador (icebreaker) Canada3 Owen Conn...      NaN
15                                                NaN      NaN
16                                                NaN      NaN
17                                                NaN     1957
18  5 USCGC Bramble (buoy tender) UnitedStates1 He...      NaN
19  6 USCGC Spar (buoy tender) UnitedStates2 Charl...      NaN

In [441]:
df_year_visits['Year'] = df_year_visits['Year'].ffill()
df_year_visits

                                                Visits     Year
0                                                  NaN      NaN
1                                                  NaN  1903-06
2    1 GjÃ¸a (21 m auxiliary sloop) Norway1 Roald E...  1903-06
3                                                  NaN  1903-06
4                                                  NaN  1903-06
5                                                  NaN  1940-42
6    2 St Roch1 (29Â·7 m auxiliary schooner) Canada...  1940-42
7                                                  NaN  1940-42
8                                                  NaN  1940-42
9                                                  NaN     1944
10   3 St Roch2 (29Â·7 m auxiliary schooner) Canada...     1944
11                                                 NaN     1944
12                                                 NaN     1944
13                                                 NaN     1954
14   4 HMCS Labrador (icebreaker) Canada3 Owen Conn...     1954
15                                                 NaN     1954
16                                                 NaN     1954
17                                                 NaN     1957
18   5 USCGC Bramble (buoy tender) UnitedStates1 He...     1957
19   6 USCGC Spar (buoy tender) UnitedStates2 Charl...     1957
20   7 USCGC Storis (icebreaker) UnitedStates3 Haro...     1957
21                                                 NaN     1957
22                                                 NaN     1957
23                                                 NaN     1967
24   8 CCGS John A. McDonald (icebreaker) Canada4 P...     1967
25                                                 NaN     1967
26                                                 NaN     1967
27                                                 NaN     1969
28   9 USCGC Northwind1 (icebreaker) UnitedStates4 ...     1969
29   10 USCGC Northwind2 (icebreaker) UnitedStates5...     1969
..                                                 ...      ...
561  266 Kigdlua (12Â·8 m sloop) Greenland Jens Eri...     2017
562  267 Lady Free (12Â·4 m gaff cutter) Norway4 Ja...     2017
563                                                NaN     2017
564  268 Larissa (13Â·7 m cutter) NewZealand6 Mark ...     2017
565  269 Le Boreal2 (cruise vessel) France27 Erwin ...     2017
566                                                NaN     2017
567  270 Le Why (20 m schooner) France28 Ghisiain B...     2017
568  271 Ma Louloutte (6Â·3 catamaran)  France29 Yv...     2017
569                                                NaN     2017
570  272 MakorÃ© 2 (13Â·6 m yacht) France30 Paul Bu...     2017
571  273 USCGC Maple (buoy tender) UnitedStates31 P...     2017
572                                                NaN     2017
573  274 Morning Haze (16Â·9 m sloop) Germany8 Joch...     2017
574  275 Muktuk2 (14Â·3 sloop) Austria4 Karl Mayer2...     2017
575  276 Nauta D (16Â·5 m yacht) Germany9 Manfred H...     2017
576  277 Nehaj (11Â·9 m cutter) Germany10 Susanne H...     2017
577                                                NaN     2017
578  278 Nordica2 (multipurpose icebreaker) Finland...     2017
579                                                NaN     2017
580  279 Plum (21Â·9 m cutter) Malta Enrico Tettama...     2017
581                                                NaN     2017
582  280 Polar Bound7 (14Â·6 m motor boat) Britain2...     2017
583  281 Polar Prince2 (icebreaker) Canada47 Stepha...     2017
584                                                NaN     2017
585  282 Tiama (15Â·2 m sloop) NewZealand7 Hank Haa...     2017
586  283 Tonga (13Â·8 m yacht) France31 Franck Dela...     2017
587  284 Tranquilo2 (17Â·6 m cutter) Netherlands9 B...     2017
588  285 Valentina (15Â·2 m sloop) Russia26 Sergei ...     2017
589  286 Xue Long (icebreaker) China (Beijing) Shen...     2017
590  287 Zulumbus (11Â·7 m yacht) Austria5 Bernhard...     2017

[591 rows x 2 columns]

In [442]:
#drop na removes the rows where contains NA. (actually condition based on columns)
df_year_visits_cleaned = df_year_visits.dropna(axis=0)
print(df_year_visits_cleaned[:10])
print(len(df_year_visits_cleaned))

                                               Visits     Year
2   1 GjÃ¸a (21 m auxiliary sloop) Norway1 Roald E...  1903-06
6   2 St Roch1 (29Â·7 m auxiliary schooner) Canada...  1940-42
10  3 St Roch2 (29Â·7 m auxiliary schooner) Canada...     1944
14  4 HMCS Labrador (icebreaker) Canada3 Owen Conn...     1954
18  5 USCGC Bramble (buoy tender) UnitedStates1 He...     1957
19  6 USCGC Spar (buoy tender) UnitedStates2 Charl...     1957
20  7 USCGC Storis (icebreaker) UnitedStates3 Haro...     1957
24  8 CCGS John A. McDonald (icebreaker) Canada4 P...     1967
28  9 USCGC Northwind1 (icebreaker) UnitedStates4 ...     1969
29  10 USCGC Northwind2 (icebreaker) UnitedStates5...     1969
283

##### Method 2 instead of drop NA
df_year_visits[pd.notnull(df_year_visits['Visits'])]

In [443]:
#reset the index of df_year_visits_cleaned
df_year_visits_cleaned.reset_index(inplace=True)

In [444]:
df_year_visits_cleaned.index

RangeIndex(start=0, stop=283, step=1)

In [445]:
df.index

RangeIndex(start=0, stop=283, step=1)

In [446]:
df.loc[:,'Year'] = df_year_visits_cleaned['Year']

##### Method 2 to combine dataFrames
pd.concat([df,df_year_visits_cleaned['Year']],axis = 1)

In [455]:
df.to_csv('test_result_of_step1.csv')